body {
	font-family: 'Roboto';
}
.admin {
	width: 100%;
	min-height: 100vh;
	height: auto;
	background-color: #eeeeee;
	display: flex;
	justify-content: flex-start;
	.admin-sidebar {
		background-color: white;
		min-height: 100vh;
		padding: 15px;
		width: 15%;
	}
	ul {
		li {
			padding: 15px;
		}
	}
	.admin-manager {
		width: 85%;
		padding: 30px;
	}
}
