.info {
	.info-field {
		margin-top: 15px;
		padding: 15px;
		width: 328px;
		min-height: 168px;
		height: auto;
		border-radius: 6px;
		// box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
		background-color: white;
		border: solid 1px #EEEEEE;
		
		.info-field-item {
			margin-bottom: 15px;
			display: flex;
			justify-content: flex-start;
			.info-field-item-white {
				width: 80%;
				font-size: 14px;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: black;
			}
			.info-field-item-orange {
				width: 20%;
				font-size: 14px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: right;
				color: #007bff;
			}
		}
	}
}

h6 {
	width: 246px;
	height: 24px;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.25px;
	color: #007bff;
	margin-bottom: 23px;
}