body {
	font-family: 'Roboto';
}
.admin {
	width: 100%;
	min-height: 100vh;
	height: auto;
	background-color: #eeeeee;
	display: flex;
	justify-content: flex-start;
	.admin-sidebar {
		background-color: white;
		min-height: 100vh;
		padding: 15px;
		width: 15%;
	}
	ul {
		li {
			padding: 15px;
		}
	}
	.admin-manager {
		width: 85%;
		padding: 30px;
	}
}
.delete-back {
	position: absolute;
	top: 7px;
	right: 10px;
	width: 20px;
	height: 20px;
	padding-left: 6px;
	background-color: #f1f1f188;
	color: #7c7c7c;
	border-radius: 50%;
	&:hover {
		background-color: #f1f1f1dd;
	}
}
