.shortcuts-wrapper {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
  width: 100%;
  height: 655px;
  position: relative;
  .shortcuts {
    min-height: 428px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-right: 10px;
  }
  .shortcuts-pagination {
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .pagination {
      list-style-type: none;
      padding-left: 0;
      .pagination-item {
        display: inline-block;
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: none;
        background: #fff;
        border-radius: 4px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        a {
          color: #757575;
        }
        &:hover {
          background-color: #f5f5f5;
        }
      }
      .pagination-item-active {
        background: #91a4ff !important;
        a {
          color: white;
        }
      }
    }
  }
  .shortcuts-header {
    color: #535353;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    .shortcuts-header-labels {
      display: flex;
      span {
        margin-bottom: 18px;
      }
      .shortcuts-header-label {
        font-size: 15px;
        font-weight: 500;
        color: #aaa;
        margin-left: 20px;
        margin-top: 2px;
        cursor: pointer;
        transition: color 0.1s ease;
        &:hover {
          color: #535353;
        }
      }
    }
    .shortcuts-header-features {
      display: flex;
      .shortcuts-header-features-add {
        height: 32px;
        margin-right: 10px;
      }
      .shortcuts-header-features-filter {
        margin-right: 10px;
      }
    }
  }
  .text-notify {
    font-size: 15px;
    color: #979797;
    white-space: nowrap;
  }
}
