.cards-proposal-wrapper {
  display: flex;
  margin-right: -20px;

  .cards-proposal-back-card {
    width: 100%;
    min-height: 203px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .cards-proposal-left {
    width: 30%;
    padding-right: 20px;
  }

  .cards-proposal-right {
    width: 70%;
    padding-right: 20px;
    position: relative;
    .cards-proposal-back {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      .cards-proposal-back-title {
        margin-bottom: 20px;
      }
    }

    .cards-proposal-buttons {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;

      .cards-proposal-button-approve {
        width: 50%;
        margin-right: 20px;
        background-color: #52C41A;
      }

      .cards-proposal-button-decline {
        width: 50%;
        margin-right: 20px;
        background-color: #FE656D;
      }
    }

    .text-notification {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #979797;
      font-size: 15px;
    }
  }
}