.testing-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	.testing-container {
		width: 726px;
		.testing-progress {
			margin-top: 20px;
			margin-bottom: 30px;
		}

		.testing-instruction {
			color: #535353;
			font-size: 20px;
			line-height: 30px;
			.testing-button-start {
				button {
					width: 100%;
					height: 53px;
					background: #9eacf4;
					border: none;
					border-radius: 15px;
					color: white;
					transition: 0.1s;
					&:active {
						transition: 0.1s;
						transform: translateY(10px);
					}
				}
			}
		}
	}
}
