.testing-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	.testing-container {
		width: 726px;
		.testing-progress {
			margin-top: 20px;
			margin-bottom: 30px;
		}
		.testing-card {
			height: 485px;
			background: #ffffff;
			box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
			border-radius: 15px;
		}
		
	}
}
