.option-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
	background-color: #91a4ff;
	border: none;
	border-radius: 15px;
	font-size: 16px;
	text-align: center;
	color: white;
	transition: 0.3s;
	cursor: pointer;
	.icon {
		display: flex;
		align-items: center;
		font-size: 16px;
		color: white;
		margin-right: 10px;
	}
	&:hover {
		transition: 0.3s;
		background-color: #b0bdff;
	}
}

.button-only-icon {
	.icon {
		margin-right: 0;
	}
}
