.proposed-public-deck-info-wrapper {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
  margin-top: 20px;
  .proposed-public-deck-info-header {
    color: #535353;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .proposed-public-deck-info {
    transition: height 0.15s;
    .deck-description {
      color: #aaa;
      font-size: 14px;
      font-style: italic;
      margin-bottom: 16px;
      line-height: 1.4;
    }
    .deck-field {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
      span {
        font-size: 14px;
      }
      .deck-field-label {
        color: #979797;
        .deck-field-icon {
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      .deck-field-value {
        color: #91a4ff;
        font-weight: 500;
        text-align: right;
        .deck-field-extra-value {
          display: block;
          color: #aaa;
          font-size: 13px;
          font-weight: 400;
          margin-top: 5px;
        }
      }
    }
    .deck-field:last-child {
      padding-bottom: 18px;
    }
  }
  .deck-features {
    display: flex;
    a,
    button {
      flex: 1;
      display: block;
      text-align: center;
      font-weight: 600;
    }
    .approve-btn {
      margin-right: 10px;
      background-color: #52c41a;
    }
    .decline-btn {
      margin-left: 10px;
      background-color: #fe656d;
    }
  }
}
