@import '~antd/dist/antd.css';

/* Provide sufficient contrast against white background */
* {
  outline: none !important;
	font-family: 'Lato';
  box-sizing: border-box;
}

.ant-btn-primary {
  background-color: #9eacf4;
  border: none;
}

.ant-btn-primary:hover {
  background-color: #9eacf4;
  opacity: 0.7;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

