.card-wrapper {
  .card-front,
  .card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 160px;
    border-radius: 15px;
    background: #ffffff;
    padding: 20px;
    color: #666666;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.06);
    .card-options {
      position: absolute;
      top: 3px;
      left: 124px;
      display: none;
      .dropdown-toggler {
        height: 28px;
        padding-right: 12px;
      }
      .dropdown-item-custom {
        min-width: 140px;
        line-height: normal;
      }
    }
    .selectable-icon {
      position: absolute;
      top: 12px;
      left: 12px;
      height: 20px;
      color: #ddd;
      border-radius: 50%;
      transition: color 0.1s ease-out, background-color 0.1s ease-out;
      &:hover {
        background-color: #f9f9f9;
        color: #888;
      }
    }
  }
  &:hover .card-options {
    display: inline-flex;
  }
  .card-front {
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
  }
  .card-back {
    font-size: 15px;
  }
  .front {
    position: relative;
    .utterance {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 50%;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}
