.cards-list-wrapper {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
  width: 100%;
  height: 655px;
}

.cards-list-wrapper .cards {
  min-height: 428px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 17px 30px;
}

.cards-list-wrapper .cards-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-list-wrapper .cards-pagination .pagination {
  list-style-type: none;
  padding-left: 0;
}

.cards-list-wrapper .cards-pagination .pagination .pagination-item {
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  background: #fff;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.cards-list-wrapper .cards-pagination .pagination .pagination-item a {
  color: #757575;
}

.cards-list-wrapper .cards-pagination .pagination .pagination-item:hover {
  background-color: #f5f5f5;
}

.cards-list-wrapper .cards-pagination .pagination .pagination-item-active {
  background: #91a4ff !important;
}

.cards-list-wrapper .cards-pagination .pagination .pagination-item-active a {
  color: white;
}

.cards-list-wrapper .cards-list-header {
  color: #535353;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.cards-list-wrapper .cards-list-header p {
  text-align: left;
  width: 20%;
}

.cards-list-wrapper .cards-list-header .cards-list-header-features {
  text-align: right;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cards-list-wrapper .cards-list-header .cards-list-header-features .cards-list-header-features-add {
  margin-right: 10px;
}

.cards-list-wrapper .cards-list-header .cards-list-header-features .cards-list-header-features-filter {
  margin-right: 10px;
}

.cards-list-wrapper .cards-list-header .cards-list-header-features .cards-list-header-features-search {
  width: 175px;
  background: white;
  border-color: none;
  border-radius: 30px;
}

.cards-list-wrapper .text-notify {
  font-size: 15px;
  color: #979797;
  white-space: nowrap;
}
/*# sourceMappingURL=CardsList.css.map */