.edit-card {
  width: 100%;
  height: 655px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .card-front,
  .card-back {
    width: 33%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
  }
  .card-front {
    margin-right: 10px;
    .front-wrapper {
      max-width: 300px;
      position: relative;
      .front {
        font-size: 22px;
        color: #535353;
        padding: 5px 18px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease-out;
        &:hover {
          background-color: #f2f2f2;
        }
      }
      .delete-card-btn {
        color: red;
      }
      .options {
        position: absolute;
        top: -5px;
        right: -30px;
        display: none;
        border-radius: 10px;
        padding-top: 10px;
        height: 36px;
        width: 36px;
        transition: background-color .3s ease-out;
        .dropdown-toggler {
          padding: 0 8px 0 6px;
        }
        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
    &:hover .options {
      display: block;
    }
  }
  .card-back {
    margin-left: 10px;
    color: #979797;
    font-size: 14px;
  }
  .back-feature {
    position: absolute;
    top: 0;
    left: 0;
    a {
      font-size: 14px;
      color: #979797;
    }
  }
}
