body {
	font-family: 'Roboto';
}
.wrap {
	background-color: #2f2e2a;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 100%;
	.wrap-form {
		background-color: #fafafa;
		border-radius: 2px;
		box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
			0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
		height: 500px;
		padding: 37px;
		width: 401px;
		display: block;
		// flex-direction: column;
		.wrap-form-button {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 4px;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
				0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
			margin-top: 70px;
			width: 328px;
			height: 36px;
			background-color: #ff6f28;
			transition: 0.3s;
			text-transform: uppercase;
			font-weight: 500;
			&:hover {
				transition: 0.3s;
				opacity: 0.8;
			}
		}
		.wrap-form-button-white {
			width: 328px;
			height: 36px;
			background-color: #fafafa;
			transition: 0.3s;
			text-transform: uppercase;
			font-weight: 500;
			&:hover {
				transition: 0.3s;
				opacity: 0.8;
			}
		}
		.wrap-form-input {
			margin-bottom: 20px;
			top: 30px;
		}
		.wrap-form-title {
			color: #ff6f28;
			font-family: Roboto;
			font-size: 34px;
			font-stretch: normal;
			font-style: normal;
			font-weight: normal;
			height: 40px;
			line-height: normal;
			letter-spacing: 0.25px;
			margin-bottom: 15px;
			margin-top: 0;
			width: 164px;
		}
	}
}
