body {
	font-family: 'Roboto';
}

.create-cards {
	padding-top: 30px;
	width: 100%;
	min-height: 80vh;
	height: auto;
	background-color: white;
	display: flex;
	// grid-template-columns: auto auto auto;
	// grid-gap: 20px;
	// justify-content: flex-start;
	// flex-direction: column;
	// align-items: center;
	.button-submit {
		border-radius: 4px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
			0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
		width: 100%;
		height: 36px;
		background-color: #007bff;
		p {
			color: white;
		}
	}
	.create-cards-info {
		position: fixed;
		width: 30%;

		input[type='text'],
		select {
			width: 100%;
			padding: 12px 20px;
			margin: 7px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

		#meaning, #example {
			margin: 0;
		}

		input[type='file'] {
			width: 100%;
			// border: solid 1px #ccc;
			color: black;
			// padding: 14px 20px;
			// margin: 8px 0;
			border-radius: 4px;
			cursor: pointer;
			display: none;
		}
		.image-container {
			text-align: center;
			label {
				margin: 8px auto 0;
			}
			.image-input {
				position: relative;
				display: inline-block;
				border-radius: 4px;
				border: 1px solid #ccc;
				width: 100px;
				height: 100px;
				overflow: hidden;
				color: #f1f1f1;
				i.fa-image {
					position: absolute;
					top: 25px;
					left: 25px;
					z-index: -1;
				}
				span {
					position: absolute;
					right: 3px;
					top: 3px;
					width: 20px;
					height: 20px;
					z-index: 1;
					display: none;
					text-align: center;
					border: none;
					border-radius: 50%;
					background-color: #f1f1f1dd;
					color: #7c7c7c;
					justify-content: center;
					align-items: center;
					&:hover {
						background-color: #dddd;
					}
				}
			}
		}
	}
}

.create-cards-backside {
	position: relative;
	display: flex;
	// align-items: flex-start;
	flex-direction: column;
	h6 {
		position: absolute;
		top: 12px;
		left: 15px;
		height: 16px;
		font-size: 16px;
		.badge {
			font-weight: 500;
		}
	}
	.content-back-side {
		position: relative;
		margin: 15px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: row;
		width: 600px;
		height: 230px;
		border-radius: 10px;
		border: solid 1px #dbdbdb;
		background-color: #ffffff;
		display: flex;
		transition: 0.3s;
		padding: 15px;
		// &:hover {
		// 	transition: 0.3s;
		// 	transform: translateY(-10px);
		// 	border: solid 2px red;
		// }
		.info {
			width: 400px;
			.meaning {
				font-weight: 900;
				color: #007bff;
			}
			
			.type {
				font-style: italic;
				font-size: 14px;
			}
			.image {
				// width: 60%;
				height: 150px;
				border-radius: 10px;
			}			
		}
		button {
			position: absolute;
			right: 10px;
			top: 10px;
			padding-top: 3px;
			display: block;
			width: 30px;
			height: 30px;
			text-align: center;
			border: none;
			border-radius: 50%;
			background-color: #f1f1f1dd;
			color: #7c7c7c;
			&:hover {
				background-color: #dddd;
			}
		}
	}
}