.dropdown {
  display: inline-block;
  position: relative;
  color: white;
  font-size: 14px;
  cursor: pointer;
  min-height: 30px;
  .dropdown-label {
    position: relative;
    padding: 6px 0;
    padding-right: 22px;
    .postfix {
      position: absolute;
      right: 0;
    }
  }
  .dropdown-content {
    position: absolute;
    top: 105%;
    min-width: 120px;
    padding: 10px 0;
    background-color: white;
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    z-index: 1;
    &.right {
      right: 0;
    }
  }
}
