.dropdown {
  display: inline-block;
  position: relative;
  color: white;
  font-size: 14px;
  min-height: 20px;
  .dropdown-label {
    position: relative;
    padding-right: 22px;
    cursor: pointer;
    .postfix {
      position: absolute;
      right: 0;
    }
  }
  .dropdown-content {
    position: absolute;
    top: 100%;
    margin-top: 4px;
    min-width: 120px;
    padding: 10px 0;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    z-index: 1000;
    cursor: auto;
    &.right {
      right: 0;
    }
    &.right-side {
      top: 0;
      left: 100%;
      margin-top: 0;
    }
    &.left-side {
      top: 0;
      right: 100%;
      margin-top: 0;
    }
  }
}
