.market-cards-list-wrapper {
  height: 456px;
  padding-top: 40px;

  .market-cards-list-header-features {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    
    .market-cards-propose-btn {
      height: 32px;
      margin-right: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .cards {
    width: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px 35px;
    .cards-button-download {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      width: 100%;
    }
  }
  .cards-pagination {
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .pagination {
      list-style-type: none;
      padding-left: 0;
      .pagination-item {
        display: inline-block;
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: none;
        background: #fff;
        border-radius: 4px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        a {
          color: #757575;
        }
        &:hover {
          background-color: #f5f5f5;
        }
      }
      .pagination-item-active {
        background: #9eacf4 !important;
        a {
          color: white;
        }
      }
    }
  }
  .text-notify {
    font-size: 15px;
    color: #979797;
    font-size: #979797;
    white-space: nowrap;
  }
}
