.menu {
	margin-top: 45px;
	.menu-title {
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
		.menu-button {
			margin-left: 15px;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.43;
			letter-spacing: 0.25px;
			color: #ff6f28;
			display: flex;
			align-items: baseline;
		}
	}
	.menu-decks {
		max-width: 100%;
		display: grid;
		grid-row-gap: 20px;
		column-gap: 20px;
		grid-template-columns: auto auto auto;
		.menu-deck {
			padding: 17px;
			// width: 350px;
			height: 136px;
			border-radius: 10px;
			border: solid 1px #dbdbdb;
			background-color: #ffffff;
			display: flex;
			transition: 0.3s;
			&:hover {
				transition: 0.3s;
				transform: translateY(-10px);
				border: solid 1px #007bff;

			}

			.menu-deck-info {
				width: 90%;
				display: block;
				h6 {
					margin: 0 0 35px 0;
					height: 16px;
					font-size: 16px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.5;
					letter-spacing: 0.15px;
					color: #007bff;
				}
				.menu-deck-info-line {
					height: 16px;
					margin-top: 10px;
					align-self: flex-end;
					display: flex;
					justify-content: flex-start;
					align-items: baseline;
					img {
						margin-right: 15px;
					}
					p {
						width: 150px;
						height: 16px;
						font-size: 12px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.33;
						letter-spacing: 0.4px;
						color: rgba(0, 0, 0, 0.6);
					}
				}
			}
			.menu-deck-next {
				width: 10%;
				align-self: center;
				text-align: right;
			}
		}
	}
}
