.menu {
	margin-top: 45px;
	padding-bottom: 30px;
	.menu-title {
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
		h6 {
			width: auto;
		}
		.menu-button {
			margin-left: 15px;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.43;
			letter-spacing: 0.25px;
			color: #007bff;
			display: flex;
			align-items: baseline;
			transition: 0.3s;
			&:hover {
				transition: 0.3s;
				opacity: 0.7;
			}
			p {
				cursor: pointer;
			}
		}
	}

	.menu-decks {
		display: flex;
		flex-wrap: wrap;
		margin-right: -20px;
		.flex-item {
			width: 33.33%;
			padding-right: 20px;
			margin-bottom: 20px;
			.menu-deck {
				padding: 17px;
				height: 136px;
				border-radius: 10px;
				border: solid 1px #dbdbdb;
				background-color: #ffffff;
				display: flex;
				transition: 0.3s;
				&:hover {
					transition: 0.3s;
					transform: translateY(-10px);
					border: solid 1px #007bff;
				}
			}
		}
	}
}