body {
	font-family: 'Roboto';
}

.add-field {
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: none;
	height: auto;
	background-color: white;
	margin-right: -20px;
	width: auto;
	max-width: none;
	.deck-table {
		width: 50%;
		padding-right: 20px;
	}
	.deck-cards {
		width: 50%;
		padding-right: 20px;
	}
	.MuiTableCell-footer {
		border-bottom: none;
	}
}
