body {
  font-family: 'Roboto';
}

.add-field {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto !important;
  background-color: white;
  margin-right: -20px;
  width: auto !important;
  max-width: none !important;
}

.add-field .deck-table {
  width: 50%;
  padding-right: 20px;
}

.add-field .deck-cards {
  width: 50%;
  padding-right: 20px;
}

.add-field .MuiTableCell-footer {
  border-bottom: none;
}

.add-field .MuiTableCell-paddingNone {
  padding-left: 2px !important;
}

.add-field .back-container {
  padding: 10px 10px 0;
  margin-left: -2px;
}

.add-field .back-container .backs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
}

.add-field .back-container .backs-list .back-item {
  width: 100%;
  margin-bottom: 10px;
  padding-right: 10px;
}

.add-field .back-container .backs-list .back-item .back-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 3px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 3px 4px rgba(0, 0, 0, 0.05);
}

.add-field .back-container .backs-list .back-item .back-content h6 {
  position: absolute;
  top: 7px;
  left: 10px;
  height: 16px;
  font-size: 16px;
}

.add-field .back-container .backs-list .back-item .back-content h6 .badge {
  font-weight: 500;
}

.add-field .back-container .backs-list .back-item .back-content .back-info {
  text-align: left;
}

.add-field .back-container .backs-list .back-item .back-content .back-info .back-meaning {
  font-weight: 900;
  color: #007bff;
  margin-top: 7px;
}

.add-field .back-container .backs-list .back-item .back-content .back-info .back-type {
  font-style: italic;
  font-size: 14px;
}

.add-field .back-container .backs-list .back-item .back-content img {
  margin-top: 20px;
  width: 120px;
  height: 120px;
}

.deck-proposals {
  margin-top: -10px;
}

.deck-proposals .MuiTableCell-paddingNone {
  padding-left: 2px !important;
}

.deck-proposals .back-container {
  padding: 10px 10px 0;
  margin-left: -2px;
}

.deck-proposals .back-container .backs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
}

.deck-proposals .back-container .backs-list .back-item {
  width: 33.33%;
  margin-bottom: 10px;
  padding-right: 10px;
}

.deck-proposals .back-container .backs-list .back-item .back-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 3px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 3px 4px rgba(0, 0, 0, 0.05);
}

.deck-proposals .back-container .backs-list .back-item .back-content h6 {
  position: absolute;
  top: 7px;
  left: 10px;
  height: 16px;
  font-size: 16px;
}

.deck-proposals .back-container .backs-list .back-item .back-content h6 .badge {
  font-weight: 500;
}

.deck-proposals .back-container .backs-list .back-item .back-content .back-info {
  text-align: left;
}

.deck-proposals .back-container .backs-list .back-item .back-content .back-info .back-meaning {
  font-weight: 900;
  color: #007bff;
  margin-top: 7px;
}

.deck-proposals .back-container .backs-list .back-item .back-content .back-info .back-type {
  font-style: italic;
  font-size: 14px;
}

.deck-proposals .back-container .backs-list .back-item .back-content img {
  margin-top: 20px;
  width: 120px;
  height: 120px;
}
/*# sourceMappingURL=AddCards.css.map */