.card-wrapper {
  .card-front,
  .card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 160px;
    border-radius: 15px;
    background: #ffffff;
    padding: 20px;
    color: #666666;
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    .card-options {
      position: absolute;
      top: 10px;
      right: 9px;
      display: none;
      .dropdown-toggler {
        padding: 0px 7px;
      }
      .remove-card-btn {
        color: red;
      }
    }
    &:hover .card-options {
      display: inline-flex;
    }
  }
  .card-front {
    font-size: 16px;
  }
  .card-back {
    font-size: 14px;
  }
  .front {
    position: relative;
    .utterance {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 50%;
      transition: background-color .2s ease;
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}
