.button {
	padding: 8px;
	background-color: #91a4ff;
	border: none;
	border-radius: 7px;
	font-size: 14px;
	text-align: center;
	color: white;
	display: inline-flex;
	transition: 0.3s;
	cursor: pointer;
	.icon {
		display: flex;
		align-items: center;
		font-size: 16px;
		color: white;
		margin-right: 7px;
	}
	&:hover {
		transition: 0.3s;
		background-color: #b0bdff;
	}
}

.button-only-icon {
	.icon {
		margin-right: 0;
	}
}
