.users-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  .users-blank {
    display: flex;
    // justify-content: center;
    align-items: center;
    p {
      color: #979797;
    }
  }
}