.deck-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.deck-form .deck-form-wrapper {
  width: 560px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.deck-form .deck-form-wrapper .deck-form-button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.deck-form .deck-form-wrapper .deck-form-button .deck-form-button-cancel {
  width: 100%;
  height: 50px;
  border: none;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  background: #ffffff;
  border-radius: 15px;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #979797;
  cursor: pointer;
}

.deck-form .deck-form-wrapper .deck-form-button .deck-form-button-create {
  width: 100%;
  height: 50px;
  border: none;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  background: #9eacf4;
  border-radius: 15px;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
}

.deck-form .deck-form-wrapper .deck-form-button button {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.deck-form .deck-form-wrapper .deck-form-button button:active {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.deck-form .deck-form-wrapper .deck-form-circle {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deck-form .deck-form-wrapper .deck-form-circle input {
  display: none;
}

.deck-form .deck-form-wrapper .deck-form-circle input:checked ~ .button-circle span {
  width: 55px;
  height: 55px;
}

.deck-form .deck-form-wrapper .deck-form-circle .button-circle {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
}

.deck-form .deck-form-wrapper .deck-form-circle .button-circle span {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #ffffff;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.deck-form .deck-form-wrapper .deck-form-circle .button-circle span:hover {
  padding: 10px;
}

.deck-form .deck-form-wrapper .deck-form-header {
  font-weight: 500;
  font-size: 24px;
  color: #535353;
  margin-bottom: 20px;
}

.deck-form .deck-form-wrapper .deck-form-input label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  color: #979797;
  margin-top: 20px;
}

.deck-form .deck-form-wrapper .deck-form-input label:first-child {
  margin-top: 0;
}

.deck-form .deck-form-wrapper .error-notification {
  font-size: 13px;
  color: red;
  font-style: italic;
  margin-top: 5px;
}

.deck-form .deck-form-wrapper .theme-error {
  margin-top: -20px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=DeckForm.css.map */