.deck-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .deck-form-wrapper {
    width: 560px;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 30px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    .deck-form-button {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 10px;
      .deck-form-button-cancel {
        width: 100%;
        height: 50px;
        border: none;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
        background: #ffffff;
        border-radius: 15px;
        font-style: normal;
        font-size: 16px;
        line-height: 28px;
        color: #979797;
        cursor: pointer;
      }
      .deck-form-button-create {
        width: 100%;
        height: 50px;
        border: none;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
        background: #9eacf4;
        border-radius: 15px;
        font-style: normal;
        font-size: 16px;
        line-height: 28px;
        color: #ffffff;
        cursor: pointer;
      }
      button {
        transition: 0.1s;
      }
      button:active {
        transition: 0.1s;
        transform: translateY(10px);
      }
    }
    .deck-form-circle {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        display: none;
      }
      input:checked ~ .button-circle span {
        width: 55px;
        height: 55px;
      }
      .button-circle {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 50px;
        margin: 10px;
        cursor: pointer;
      }
      .button-circle span {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        background: #ffffff;
        transition: ease 0.3s;
      }
      .button-circle span:hover {
        padding: 10px;
      }
    }
    .deck-form-header {
      font-weight: 500;
      font-size: 24px;
      color: #535353;
      margin-bottom: 20px;
    }
    .deck-form-input {
      label {
        display: inline-block;
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 14px;
        color: #979797;
        margin-top: 20px;
      }
      label:first-child {
        margin-top: 0;
      }
    }
    .error-notification {
      font-size: 13px;
      color: red;
      font-style: italic;
      margin-top: 5px;
    }
    .theme-error {
      margin-top: -20px;
      margin-bottom: 20px;
    }
  }
}
