.content {
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  text-align: center;
}

.btn-primary {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  width: 300px;
  height: 40px;
  background-color: #007bff;
  border: none;
  color: white;
  &:hover {
    background-color: white;
    color: black;
  }
}

.login {
  width: 300px;
}

.register {
  width: 300px;
}

.google-login {
  width: 300px;
  h5 {
    text-align: center;
  }
  button {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    width: 300px;
    height: 40px;
    background-color: white;
    border: none;
    color: black;

    &:hover {}

    .image {
      width: 10%;

      .google-icon {
        width: 20px;
        height: 20px;
      }
    }

    .text {
      width: 90%;
    }
  }
}
