.deck-information {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
  .deck-info-header {
    color: #535353;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    .deck-info-options {
      float: right;
      .deck-info-dropdown {
        font-weight: normal;
        .delete-deck-btn {
          color: red;
        }
      }
      .public-deck {
        display: inline-flex;
        width: 250px;
        .switch-wrapper {
          position: relative;
          width: 100%;
          .switch {
            position: absolute;
            top: -1px;
            right: 0;
          }
        }
        .pending-notification {
          margin-left: 10px;
          font-size: 13px;
          vertical-align: bottom;
          color: #979797;
        }
      }
    }
  }
  .deck-description {
    color: #979797;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .deck-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    span {
      font-size: 14px;
    }
    .deck-field-label {
      color: #979797;
    }
    .deck-field-value {
      color: #9eacf4;
      font-weight: bold;
    }
  }
  .deck-features {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    a {
      display: block;
      text-align: center;
      font-weight: 600;
    }
  }
}
