.cards-proposal-back-user {
  .cards-proposal-back-card {
    position: relative;
  }

  .cards-proposal-back-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    color: #979797;
    cursor: pointer;
    transition: color 0.15s ease-out, background-color 0.15s ease-out;

    &:hover {
      background-color: #eee;
      color: #646464;
    }
  }

  .cards-proposal-back-title {
    color: #656565;
  }

  .cards-proposal-back-card {
    .cards-proposal-back-left {
      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .cards-proposal-back-author {
        display: flex;
        color: #979797;
        font-size: 14px;
        margin-bottom: 10px;
        .back-author {
          margin-left: 10px;
          .back-author-name {
            color: #9eacf4;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
