.cards-proposal-back-user {
  .cards-proposal-back-card {
    position: relative;
  }

  .cards-proposal-back-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    color: #979797;
    cursor: pointer;
    transition: color .15s ease-out, background-color .15s ease-out;

    &:hover {
      background-color: #eee;
      color: #646464;
    }
  }

  .cards-proposal-back-title {
    color: #9eacf4;
  }

  .cards-proposal-back-card {
    flex-direction: column;

    .cards-proposal-back-meaning {
      color: #9eacf4;
    }

    .cards-proposal-back-type {
      font-size: 14px;
      color: grey;
    }
  }
}