.testing-button {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  margin-top: 30px;
  .testing-button-remember {
    button {
      width: 100%;
      height: 53px;
      background: #52c41a;
      border: none;
      border-radius: 15px;
      color: white;
      transition: 0.1s;
      &:active {
        transition: 0.1s;
        transform: translateY(10px);
      }
    }
  }
  .testing-button-dont-remember {
    button {
      width: 100%;
      height: 53px;
      background: #fe656d;
      border: none;
      border-radius: 15px;
      color: white;
      transition: 0.1s;
      &:active {
        transition: 0.1s;
        transform: translateY(10px);
      }
    }
  }
  .testing-button-next {
    button {
      width: 195%;
      height: 53px;
      background: #9EACF4;
      border: none;
      border-radius: 15px;
      color: white;
      transition: 0.1s;
      &:active {
        transition: 0.1s;
        transform: translateY(10px);
      }
    }
  }
}