.profile-wrapper {
  height: 555px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .profile-info-wrapper {
    display: flex;
    width: 100%;

    .profile-info-panel {
      flex: 1;
      background: #ffffff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
      border-radius: 15px;
      padding: 30px;

      .profile-button {
        display: flex;
        justify-content: flex-end;
        .profile-button-delete {
          background-color: #fe656d;
          display: flex;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      .profile-info {
        display: flex;
        justify-content: space-between;

        .profile-info-title {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #979797;
          margin-bottom: 20px;
        }

        .profile-info-content {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          text-align: right;
          color: #91a4ff;
          margin-bottom: 20px;
        }
      }
    }

    .profile-picture {
      width: 167px;
      background: #ffffff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
      border-radius: 15px;
      padding: 30px;
      margin-left: 20px;
      .picture-wrapper {
        height: 107px;
        width: 107px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid #91a4ff;
        margin-right: 20px;
        img {
          display: block;
          border-radius: 50%;
        }
        .fake-picture {
          width: 99px;
          height: 99px;
          border-radius: 50%;
          background-color: #f5f5f5;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 32px;
          font-weight: 300;
          color: #979797;
        }
      }
    }
  }

  .profile-header {
    color: #535353;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin: 20px 0 14px;
    display: flex;
    justify-content: space-between;
    a {
      font-size: 14px;
      font-weight: normal;
      color: #4686ff;
      &:hover {
        text-decoration: underline;
      }
      &.disabled-link {
        color: #979797;
        text-decoration: none;
      }
    }
  }

  .contributed-cards {
    display: flex;
    align-items: center;
    span {
      font-size: 15px;
      color: #8f8f8f;
      margin-left: 10px;
    }
  }

  .charts {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    .chart-content p {
      font-size: 15px;
      color: #8f8f8f;
    }
  }
}
