.home-profile-wrapper {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 30px;
  position: relative;
  margin-bottom: 20px;

  #upload-image-input {
    display: none;
  }

  .home-profile-picture {
    height: 96px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #9eacf4;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    img {
      display: block;
      border-radius: 50%;
    }
    .fake-picture {
      width: 88px;
      height: 88px;
      border-radius: 50%;
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      font-weight: 300;
      color: #979797;
    }
    &::after {
      content: 'Edit';
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 50%;
      font-size: 14px;
      color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.1s ease;
    }
    &:hover::after {
      color: #fff;
      background-color: rgba(158, 158, 158, 0.5);
    }
  }

  .home-profile-info {
    .home-profile-info-name {
      width: fit-content;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      color: #9eacf4;
      padding: 5px 10px;
      margin-left: -10px;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.15s ease;
      &:hover {
        background-color: #f6f6f6;
      }
    }

    .home-profile-info-email {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      color: #979797;
    }
  }
}
