.cards-proposal-back-admin {
  .cards-proposal-back-title {
    color: #656565;
    span {
      color: #9eacf4;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .cards-proposal-back-blank {
    color: #979797;
    font-size: 15px;
  }
  .cards-proposal-back-card {
    flex-direction: column;
    .cards-proposal-back-meaning {
      color: #9eacf4;
    }
    .cards-proposal-back-type {
      font-size: 14px;
      color: grey;
    }
  }
}
