.deck-detail {
  display: flex;
  margin-right: -20px;
  .back-feature a {
    color: #979797;
    position: relative;
    .back-feature-icon {
      position: absolute;
      left: -8px;
      font-size: 22px;
    }
    .back-feature-label {
      font-size: 14px;
      padding-left: 18px;
    }
  }
  section {
    overflow: visible;
    padding-right: 20px;
  }
  .left-section {
    width: 33.33%;
    .statistics-wrapper,
    .deck-info-wrapper,
    .card-info {
      margin-top: 20px;
    }
  }
  .right-section {
    width: 66.67%;
  }
}
