.input {
  width: 100%;
  height: 40px;
  display: block;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px;
  transition: 0.3s;
  font-size: 15px;
  &:focus {
    transition: 0.3s;
    border: 2px solid #9eacf4;
  }
  &.invalid {
    border: 2px solid rgb(255, 136, 136);
  }
}
