.home {
  display: flex;
  margin-right: -20px;
  margin-bottom: 20px;
  section {
    overflow: visible;
    padding-right: 20px;
  }
  .left-section {
    width: 33.33%;
  }
  .right-section {
    width: 66.67%;
  }
}