.deck-fields {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: white;
  display: block;
}

.deck-fields .deck-back {
  margin-bottom: 30px;
}

.deck-fields .deck-title {
  width: 246px;
  height: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.25px;
  color: #007bff;
  margin-bottom: 23px;
}

.deck-fields .deck-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deck-fields .deck-content .deck-content-statistics {
  width: 30%;
}

.deck-fields .deck-content .deck-content-statistics .deck-statistics-info-field {
  margin-top: 15px;
  padding: 15px;
  width: 328px;
  min-height: 168px;
  height: auto;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2f2e2a;
}

.deck-fields .deck-content .deck-content-statistics .deck-statistics-info-field .deck-statistics-info-field-item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.deck-fields .deck-content .deck-content-statistics .deck-statistics-info-field .deck-statistics-info-field-item .deck-statistics-info-field-item-white {
  width: 80%;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.deck-fields .deck-content .deck-content-statistics .deck-statistics-info-field .deck-statistics-info-field-item .deck-statistics-info-field-item-orange {
  width: 20%;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #007bff;
}

.deck-fields .deck-content .deck-content-advanced {
  width: 33.33%;
}

.deck-fields .deck-content .deck-content-advanced .public {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -2px;
}

.deck-fields .deck-content .deck-content-advanced .public .switch {
  margin-left: 30px;
}

.deck-fields .deck-content .deck-content-advanced .deck-content-advanced-share {
  margin-top: 100px;
}

.deck-fields .deck-content .deck-content-advanced .deck-content-advanced-features {
  margin-bottom: 23px;
}

.deck-fields .deck-content .deck-content-advanced .deck-content-advanced-features .deck-content-advanced-features-items i {
  margin-left: 10px;
  text-align: right;
}

.deck-fields .deck-content .deck-content-advanced .deck-content-advanced-features .deck-content-advanced-features-items p {
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: red;
}

.deck-fields .deck-content .deck-content-info {
  width: 33.33%;
}

.deck-fields .deck-content .deck-content-info .deck-content-info-line {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #2f2e2a;
}

.none-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table {
  margin-top: 20px;
}

.table td {
  border-top: none;
}

.table .back-container {
  padding: 10px 10px 0;
  margin: -2px 0 0 -2px;
}

.table .back-container .backs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
}

.table .back-container .backs-list .back-item {
  width: 33.33%;
  margin-bottom: 10px;
  padding-right: 10px;
}

.table .back-container .backs-list .back-item .back-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 3px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 3px 4px rgba(0, 0, 0, 0.05);
}

.table .back-container .backs-list .back-item .back-content h6 {
  position: absolute;
  top: 7px;
  left: 10px;
  height: 16px;
  font-size: 16px;
}

.table .back-container .backs-list .back-item .back-content h6 .badge {
  font-weight: 500;
}

.table .back-container .backs-list .back-item .back-content .back-info {
  text-align: left;
}

.table .back-container .backs-list .back-item .back-content .back-info .back-meaning {
  font-weight: 900;
  color: #007bff;
  margin-top: 7px;
}

.table .back-container .backs-list .back-item .back-content .back-info .back-type {
  font-style: italic;
  font-size: 14px;
}

.table .back-container .backs-list .back-item .back-content img {
  margin-top: 20px;
  width: 120px;
  height: 120px;
}

.deck-button {
  width: 100%;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  margin-top: 70px;
  background-color: #007bff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 500;
}

.deck-button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
}

.deck-button p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 1.25px;
  text-align: center;
  color: #ffffff;
}

.table .MuiTableCell-alignLeft {
  padding-top: 16px !important;
}

.table .MuiTableCell-paddingNone {
  padding: 2px 0 0 2px !important;
}

.MuiTableCell-footer {
  border-bottom: none !important;
}

.MuiTableCell-head {
  border-top: none !important;
  border-bottom: 1px solid #dee2e6 !important;
}
/*# sourceMappingURL=DeckDetail.css.map */