.dropdown-item {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  color: #535353;
  padding: 8px 17px 8px 15px;
  .dropdown-item-icon {
    position: absolute;
    font-size: 17px;
  }
  .dropdown-item-label {
   font-size: 14px;
   white-space: nowrap;
   padding-left: 26px;
  }
  &:hover {
    background-color: #f5f5f5;
  }
}