.dropdown-item {
  display: flex;
  user-select: none;
  color: #535353;
  padding: 8px 9px 5px 7px;
  border-radius: 6px;
  text-align: left;
  .dropdown-item-icon {
    vertical-align: middle;
    font-size: 17px;
  }
  .dropdown-item-label {
    font-size: 14px;
    white-space: nowrap;
    padding-left: 10px;
  }
  &.dropdown-item-hover {
    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.dropdown-item-line {
  display: block;
  height: 1px;
  margin: 8px 9px 8px 7px;
  background-color: #eee;
}
