body {
	font-family: 'Roboto';
}

.field {
	width: 100%;
	min-height: 100vh;
	height: auto;
	background-color: white;
}

.test-button {
	// width: 50%;
	position: fixed;
	bottom: 30px;
	display: flex;
	justify-content: space-between;

	.test-button-grey {
		border-radius: 4px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
			0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
		width: 45%;
		height: 36px;
		background-color: #71706c;
	}
	.test-button-orange {
		border-radius: 4px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
			0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
		width: 45%;
		height: 36px;
		background-color: #ff6f28;
	}
	p {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.14;
		letter-spacing: 1.25px;
		text-align: center;
		color: #ffffff;
	}
}

.test-button-next {
	align-self: center;
	border-radius: 4px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
		0 1px 1px 0 rgba(0, 0, 0, 0.14);
	width: 620px;
	height: 36px;
	background-color: #ff6f28;
	p {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.14;
		letter-spacing: 1.25px;
		text-align: center;
		color: black;
	}
}

.display {
	display: flex;
}

.none-display {
	display: none;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.content-front {
		margin-bottom : 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 645px;
		height: 230px;
		border-radius: 2px;
		box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
			0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
	}
	.content-back {
		// display: flex;
		justify-content: flex-start;
		.content-back-side {
			margin: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 645px;
			height: 230px;
			border-radius: 2px;
			box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
				0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
		}
	}
}
