body {
  font-family: 'Roboto';
}

.field {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: white;
}

.test-button {
  width: 1110px;
  position: fixed;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test-button .test-button-next {
  background-color: #007bff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  width: 1110px;
  height: 36px;
}

.test-button .test-button-next p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-align: center;
  color: white;
}

.test-button .test-button-grey {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  width: 45%;
  height: 36px;
  background-color: #dc3545;
}

.test-button .test-button-orange {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  width: 45%;
  height: 36px;
  background-color: #28a745;
}

.test-button p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-align: center;
  color: #ffffff;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.none-display {
  display: none;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .content-front {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 645px;
  height: 230px;
  border-radius: 10px;
  border: solid 1px #007bff;
  color: #007bff;
  font-weight: bold;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .content-front:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  border: solid 1px #007bff;
}

.content .content-back {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin-top: 10px;
}

.content .content-back .content-back-side {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  border: solid 1px #dbdbdb;
  background-color: #ffffff;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 15px;
}

.content .content-back .content-back-side:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  border: solid 1px #007bff;
}

.meaning {
  font-weight: 900;
  color: #007bff;
}

.type {
  font-style: italic;
  font-size: 14px;
}
/*# sourceMappingURL=Testing.css.map */